<!-- banner -->
<div class="container-fluid bg-light bg-gradient ">

    <div class="row align-items-center">
        <div class="col-lg-6 p-3  text-center text-sm-center text-md-center text-lg-start pb-3">
            <a href="/"><img src="/images/logo.png" height="72px"></a>
        </div>
        <div class="col-lg-3 text-center border border-start-0 pt-2 pb-2">
            <div> <img src="/images/icons/phone.png" height="24px" width="24px"> &nbsp;
                <a href="tel:+91<%= contact1 %>" style = "color:rgba(47,35,134,255); font-weight: 500; text-decoration: none;" ><%= contact1 %></a> 
                &nbsp|&nbsp 
                <a href="tel:+91<%= contact2 %>" style = "color:rgba(47,35,134,255);font-weight: 500; text-decoration: none;"><%= contact2 %></a>
            </div>
        </div>

        <div class="col-lg-3 text-center pt-2 pb-2 border border-end-0">
            <div> <img src="/images/icons/mail.png" height="24px" width="24px"> &nbsp; 
                <a href="mailto:<%= email %>" style = "color:rgba(47,35,134,255); font-weight: 500; text-decoration: none;" ><%= email %></a>
            </div>
        </div>

        <!-- <div class = "col-lg-2 text-center pt-3 pb-2 ">
            <button type="button" class="btn btn-outline-danger">Login</button>
        </div> -->

    </div>
</div>

<!-- Navbar -->
<nav style="color: white;" class="navbar navbar-expand-lg header-color navbar-dark shadow-lg fs-5 sticky-top ">

    <div class="container-fluid">

        <!-- TODO add image for navbar brand -->
        <!-- <a class="navbar-brand text-wrap text-break" href="#">Logo</a> -->

        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" aria-current="page" id = "home" href="/">Home</a>
                </li>

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" id = "motto" href="/#motto-sec">Motto</a>
                </li>

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" id = "about" href="/about">About us</a>
                </li>

                <!-- <li class="nav-item dropdown header-elements-hover px-1">
                    <a class="nav-link dropdown-toggle active" href="/about" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        About us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" id = "products" href="/products">Products</a>
                </li>

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" id = "news" href="/news">News</a>
                </li>

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" id = "contact" href="/contact">Contact</a>
                </li>

                <li class="nav-item header-elements-hover px-1">
                    <a class="nav-link active" id="team" href="/team">Team</a>
                </li>

                <% if (role >= 1) { %>
                    <li class="nav-item header-elements-hover px-1">
                        <a class="nav-link active"  id = "console" href="/console">Console</a>
                    </li>
                <% } %>
            </ul>

            <% if (role >= 2) { %>
               <a href = "/console/console_users"><button type="button" class="btn btn-outline-light shadow-lg mx-3">manage users</button></a>
            <% } %>

            <!-- <button class="btn btn-outline-light shadow-lg " type="submit">Login</button> -->

            <% if (role >= 1) { %>
                <button type="button" id = "login_button" class="btn" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    Logout
                </button>
            <% } else { %>
                <button type="button" id = "login_button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login
                </button>
            <% }%>


        </div>

    </div>
</nav>