<!doctype html>
<html lang="en">

<%- include("partials/head",{title:title,meta_description : meta_description}); -%>

    <body>
        <%- include("partials/navbar",{role:role,contact1:contact1,contact2:contact2,email:email}); -%>

            <!-- Main content -->
            <main>

                <div style="width: 100%;  display:flex;justify-content:center;flex-direction: column;align-items:center; background-image: url(/images/endless-constellationwhite.svg); "
                    class="mt-5 p-5 border rounded-3  shadow-lg  container g-0">
                    <div style="max-width: 500px; max-height: 500px; overflow:hidden; "
                        class=" border shadow-lg ratio ratio-1x1 rounded-circle ">
                        <img style="object-fit: cover ;" src="/images/icons/contact.jpeg" alt="Avatar">
                    </div>



                    <h2 class="mt-3 ">Pradeep Haldankar</h2>

                    <position style=" color: grey;
            text-align: center;">Director</position>



                    <div style="margin: 5%;"> <img src="/images/icons/phone.png" height="36px" width="auto">
                        &nbsp;<a href="tel:+91<%= contact1 %>" class="link-danger"
                            style=" font-size: 1.5pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                            <%= contact1 %>
                                /
                        </a> <a href="tel:+91<%= contact2 %> " class="link-danger"
                            style=" font-size: 1.5pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                            <%= contact2 %>
                        </a>
                    </div>

                    <div> <img src="/images/icons/mail.png" height="36px" width="auto"> &nbsp; <a
                            href="mailto:<%= email %>" class="link-danger"
                            style="font-size: 1.5pc; color:rgb(17, 17, 17) ; text-decoration: none;">
                            <%= email %>
                        </a>
                    </div>


                </div>

                <iframe name="hiddenFrame" class="hide" style="display:none"></iframe>


                <div style="margin-top: 5%;"
                    class=" align-self-center flex-row container-fluid py-3 justify-content-center ">

                    <h1 style=" text-align: center; margin-bottom: 5% " class="text-dark align-self-center">
                        <strong>Contact Us</strong>
                        


                        <!-- <img src = "icons8-location.gif" height="36px" width="36px">  -->
                    </h1>

                    <div class="row justify-content-center align-items-center position-relative">
                        <div class="col p-0"><iframe allowfullscreen="" frameborder="0"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.11609591992!2d72.74110205851967!3d19.082197841169613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1639309178027!5m2!1sen!2sin"
                                width="100%" height="1000" style="filter: grayscale(100%);opacity: 0.50;"></iframe>
                        </div>

                        <div class="col-md-6 col-lg-5 col-xl-4 position-absolute" style="background-image: url(/images/endless-constellationwhite.svg);" >
                            <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSepzq1zzNAZCjCrlXw_Oz4suINJdhPcA-lBYXmDbr41vcHU9Q/formResponse" target="hiddenFrame" class="shadow-sm p-4 rounded" method="post">

                                <div>
                                    <h4>Leave us a Message</h4>
                                    <p class="text-muted">How do feel about our new website? Do you Something from
                                        us?<br></p>
                                </div>



                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" maxlength="100" type="text" name="entry.1378129362" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" maxlength="100" type="email" name="entry.19282730" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Contact No.</label>
                                    <input class="form-control" maxlength="13" type="text" name="entry.1411594711" required>
                                </div>
                                <div class="mb-4"><label class="form-label">Message</label><textarea
                                        class="form-control" required="" rows="4" name="entry.175532735"></textarea></div>
                                <div><button style="color: white;
                    text-shadow: 2px 2px 4px #000000; margin-left: 5px;

      margin-right: 5px; min-width: fit-content; " class="btn btn-primary w-100 mb-2 btn btn-danger"
                                       onclick="Success()" type="submit">Submit</button>
                                    <p><small class="text-black-50">We are going ahead where are you going?<br></small>
                                    </p>
                                </div>
                            </form>


                            <!-- <form action="https://formsubmit.co/s1032190116@gmail.com" method="POST">
                                name : <input type="text" name="name" required>
                                <br>
                                email : <input type="email" name="email" required>
                                <button type="submit">Send</button>
                           </form> -->

                           <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdv0mf7w_LFg7AFSj0coWGTpGvkY8FjAoYv41yzYP2vXVWGvg/viewform?embedded=true" width="640" height="737" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->

                        </div>
                    </div>
                </div>
            </main>

            <%- include("partials/footer",{contact1:contact1,contact2:contact2,email:email,address:address}); -%>

                <%- include("partials/tail"); -%>

    </body>

</html>
<script>
    function Success(){
        alert("Your message is sent")
    }
</script>