<!doctype html>
<html lang="en">
  <%- include("partials/head",{title:title,meta_description : meta_description}); -%>
  <style>
      .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #db4d34;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;}

  .shapes-9 {
  width: 40px;
  height: 20px;
  background:rgb(156, 10, 10);
  position: relative;
  animation: sh9-0 1.5s infinite linear;
}
.shapes-9:before,
.shapes-9:after {
   content:"";
   position: absolute;
   background:inherit; 
   bottom: 100%;
   width: 50%;
   height: 100%;
   animation: inherit;
   animation-name: sh9-1;
}
.shapes-9:before {
  left:0;
  transform-origin: bottom left;
  --s:-1;
}
.shapes-9:after {
  right:0;
  transform-origin: bottom right;
}
@keyframes sh9-0 {
   0%,10%   {transform:translateY(0%)    scaleY(1)}
   49.99%   {transform:translateY(-50%)  scaleY(1)}
   50%      {transform:translateY(-50%)  scaleY(-1)}
   90%,100% {transform:translateY(-100%) scaleY(-1)}
}
@keyframes sh9-1 {
   10%,90% {transform: rotate(0deg)}
   50%     {transform: rotate(calc(var(--s,1)*180deg))}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.continuous-1 {
  width: 120px;
  height:20px;
  background: 
    linear-gradient(90deg,rgba(0, 6, 16, 0.067) 33%,rgba(1, 15, 43, 0.333) 50%,rgba(3, 3, 104, 0.067) 66%)
    #7284f8;
  background-size:300% 100%;
  animation: ct1 1s infinite linear;
}

@keyframes ct1 {
  0% {background-position: right}
}

.centered1 {
  position: fixed; /* or absolute */
  top: 30%;
  left: 50%;
}

.centered2 {
  position: fixed; /* or absolute */
  top: 50%;
  left: 40%;
}

.centered3 {
  position: fixed; /* or absolute */
  top: 70%;
  left: 50%;
}

  </style>

  <body onload="handle_load()">
    <%- include("partials/navbar",{role:role,contact1:contact1,contact2:contact2,email:email}); -%>

        <!-- Main content -->
        <div class = "shapes-9 centered1" id = "preload"></div>
        <div class = "centered2" id = "preload2"><img src = "/images/logo.png"></img></div>
        <div class = "continuous-1 centered3" id = "preload1"></div>
        <main id = "main-content" style = "visibility: hidden;">

          <!-- Carousel -->
  
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
              <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                      aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                      aria-label="Slide 4"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                      aria-label="Slide 5"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                      aria-label="Slide 6"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                      aria-label="Slide 7"></button>

                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                      aria-label="Slide 8"></button>
              </div>
  
              <div class="carousel-inner" style=" background: rgb(0, 0, 0); font-family: Georgia, 'Times New Roman', Times, serif;">
                  <div class="carousel-item active">
                      <div class="ratio ratio-16x9">
                          <img  src="/images/carousel1.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>Looking for more than just service? Begin your adventure with us.</h1>
                          <p>Find out about our products on the <a href="/products" style="text-decoration: none; color: #dc0814 "><strong>Products</strong></a> page.</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img   src="/images/carousel2.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>Our destiny is not written for us, it is written by us.</h1>
                          <p>Find out about our products on the <a href="/products" style="text-decoration: none; color: #dc0814 "><strong >Products</strong></a>  page.</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img loading = "lazy" src="/images/carousel3.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>Opportunities increase when you help others win, a little win for our partners is a great win for us.</h1>
                          <p>Find out about our products on the <a href="/products" style="text-decoration: none; color: #dc0814 "> <strong >Products</strong></a> page.</p>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img   src="/images/carousel4.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>The only place where <strong>success </strong> comes before <strong>work</strong> is in the dictionary.</h1>
                          <p>Find out about our team on the <a href="/team" style="text-decoration: none; color: #dc0814 "><strong >Teams</strong></a>  page.</p>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img   src="/images/carousel5.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>You miss 100% of the shots you don't take.</h1>
                          <p>Find out more <a href="/about" style="text-decoration: none; color: #dc0814 "><strong >About us</strong></a>.</p>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img   src="/images/carousel6.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>Once you live in mumbai no place else is good enough.</h1>
                          <p>Reach out to us at the <a href="/contact" style="text-decoration: none; color: #dc0814 "><strong >Contact Us</strong></a> page .</p>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img   src="/images/carousel7.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>Great men are not <strong>born</strong> great they <strong>grow</strong> great</h1>
                          <p>Find out about our team on the <a href="/team" style="text-decoration: none; color: #dc0814 "><strong >Teams</strong></a>  page.</p>
                      </div>
                  </div>

                  <div class="carousel-item">
                      <div class="ratio ratio-16x9">
                          <img   src="/images/carousel8.jpg" class="d-block w-100 carousel-overlay" alt="...">
                      </div>
                      <div class="carousel-caption d-none d-md-block">
                          <h1>Don't be busy , be productive</h1>
                          <p>Find out about our team on the <a href="/team" style="text-decoration: none; color: #dc0814 "><strong >Teams</strong></a>  page.</p>
                      </div>
                  </div>

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
  
          <!-- Vijaydeep Agency small description -->
  
          <div class="container mt-5 " id = "motto-sec">
              <div class="row">
                  <div class="col">
                  </div>
                  <div class="container  p-5 rounded-3 " style="background-image: url(/images/endless-constellationwhite.svg); display: flex; flex-direction: column;
              align-items: center;
              justify-content: center;">
  
  <h1><img loading = "lazy" style="  margin-left: 5px;
                   margin-right: 5px; max-height: 100px;" src="/images/logo.png"></h1>
                   
                   
                      
                      <p class="d-flex justify-content-center; pt-4" style="color: gray;  margin-left: 5px;
                   margin-right: 5px; text-align:center; white-space: pre-wrap;"><%= motto %></p>
                       <a style="color: white; text-decoration: none;"
                              href="/about" class=""> <button style=" color: white;  margin-right: 5px; min-width: fit-content;" class="btn ">About us</button></a>
                      </button>
                  </div>
  
                  <div class="col-lg-2">
                  </div>
              </div>
          </div>
  
          <!-- Products catalogue -->
          
  
          <div class="products_scroll container mt-5 border border-danger rounded p-5 shadow-lg" style="background-image: url(/images/endless-constellationredbig1.svg)">
              <div class="row">
                  <div class="col-lg-2">
  
                  </div>
                  <div class="col-lg-8 text-center">
                      <h1 class="mb-3 " style="color: rgb(221, 221, 221);"><strong>Products </strong><img loading = "lazy" src="/images/icons/icons8-cart-64.png" height="36px" width="36px"> </h1>
                      
                  </div>
  
                  <div class="col-lg-2 text-center">
                    <button style=" background-color: white; color:rgba(179, 0, 0, 0.829); margin-right: 5px; min-width: fit-content;" class="btn mb-3"> <a style="color:rgba(179, 0, 0, 0.829); text-decoration: none;"
                        href="/products" class=""> See All</a>
                </button>
                  </div>
              </div>
              <div id = "products_body" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 d-flex flex-row flex-nowrap overflow-scroll">
                  
              </div>
          </div>
  
          <!-- News -->
  
          <div class="container mt-5 p-5 border border-2 rounded-3 shadow-sm shadow-lg" style="background-image: url(/images/endless-constellationwhite.svg)">
              <div class="row align-items-center">
                  <div class="col-lg-5 text-center">
  
                      <h1><strong>News </strong><img loading = "lazy" src="/images/icons/icons8-news-16.png" height="36px" width="36px"></h1>
                      <p class="mb-3" style="color: rgb(0, 0, 0);">Be upto date with the news of the industry</p>
                      <button style=" color: white; margin-right: 5px; min-width: fit-content;" class="btn mb-3 "> <a style="color: white; text-decoration: none;"
                        href="/news" class=""> Read More</a>
                </button>
  
                  </div>
  
                  <div class="col-lg-7">
  
                      <div class="card border-0" style="width: 100%; background-color: rgb(252, 252, 252)">
                          <div class="card-body">
  
                              <div id = "news_body" class="list-group shadow-lg overflow-auto" style="max-height: 300px;">
  
                              </div>
  
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
  
  
  
          <div class="container mt-5 mb-5">
              <div class="row">
  
                  <div class="col-lg-5 text-center my-auto">
  
                      <h1> <strong>Our location</strong> <img loading = "lazy" src="/images/icons8-location.gif" height="36px" width="36px"> </h1>
  
                  </div>
  
                  <div class="col-lg-7 mt-3" style="background: rgb(252, 252, 252);">
  
                      <div class="d-flex justify-content-center shadow-lg"><iframe
                              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.3607898863897!2d72.83542331392864!3d19.003817059178022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf07bcf1bb1b%3A0xf62fdfe9702e4814!2sVijaydeep%20Agencies!5e0!3m2!1sen!2sin!4v1638910507674!5m2!1sen!2sin"
                              width="100%" height="100%" style="border:0;min-height: 300px;" allowfullscreen=""
                              ></iframe>
                      </div>
                  </div>
  
  
              </div>
  
          </div>
  
  
  
      </main>

    <%- include("partials/footer",{contact1:contact1,contact2:contact2,email:email,address:address}); -%>

    <%- include("partials/tail"); -%>
    <script src = "/javascripts/index.js"></script>
    <script>
              
    function handle_load(){

        console.log('test');
        document.getElementById('preload').style.display = "none";
        document.getElementById('preload1').style.display = "none";
        document.getElementById('preload2').style.display = "none";

        document.getElementById('main-content').style.visibility = "visible";
        }

    </script>

  </body>

</html>
