<!doctype html>
<html lang="en">

  <%- include("partials/head"); -%>

  <style>
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #db4d34;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
    </style>

  <body onload = "handle_load()">
    <%- include("partials/navbar",{role:role,contact1:contact1,contact2:contact2,email:email}); -%>

        <!-- Main content -->
    <main id = "main-content">
         <!-- background by SVGBackgrounds.com -->
        <div class="p-4 p-md-5 mb-4 text-white  " style="background-image: url('/images/endless-constellationred.svg'); background-repeat: no-repeat; background-size: cover ;">
            
            <div class="col-md-6 px-0">
              <h1 class="display-4 fst-italic">Learn about our most recent developments</h1>
              <p class="lead my-3">Leading news from the industry and our field to inform you about the past, present and future of our business enviroment.</p>
                 </div>
          </div>
          <div class = "loader mx-auto m-5" id = "preload"></div>
        <div class="container-fluid"  id = "news_container" style = "visibility: hidden;">
            

            
          <% for( let i = 0; i < news.length; i++ ) { %>

            <% if( i%2==0){ %>


                
            <div class="row m-5 border  rounded-3 border-1 shadow-lg" id = "news_<%= news[i].id %>" style="overflow:hidden; " >
            
                
                <div class="col-md-12 col-sm-12 col-lg-3 position-sticky " >
                    <img style="height:100% ; object-fit: cover;" src="/images/news_<%= news[i].image %> " class="zoom d-block w-100" alt="..." loading = "lazy">
    
                </div>
                <div class="col-md-12 col-sm-12 col-lg-9 bg-light p-5" style="overflow:hidden; z-index: 50;">
                    <h1 ><%= news[i].headline %> </h1>
                    <p class="small">
                        <img src="/images/icons8-calendar-30.png" height="26px" width="auto"> <%= news[i].createdAt %> 
                    </p>
                    <p style="font-size: medium;"><%= news[i].article %> </p>
                    <a href="<%= news[i].link %> ">//LInk for more info</a>
    
                </div>
                
    
    
            </div>




             <% }else{ %>

                <div class="row m-5 border rounded-3 border-1 shadow-lg" id = "news_<%= news[i].id%> " style="overflow:hidden; " >
            
                
                
                    <div class="col-md-12 col-sm-12 col-lg-9 bg-light p-5 order-lg-0 order-1 " style="overflow:hidden; z-index: 50;">
                        <h1 ><%= news[i].headline %> </h1>
                        <p class="small">
                            <img src="/images/icons8-calendar-30.png" height="26px" width="auto"> <%= news[i].createdAt %> 
                        </p>
                        <p style="font-size: medium;"><%= news[i].article %> </p>
                        <a href="<%= news[i].link %> ">//LInk for more info</a>
        
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-3 position-sticky order-lg-1 order-0" >
                        <img style=" height:100%" src="/images/<%= news[i].image %> " class="zoom  d-block w-100" alt="..." loading = "lazy">
        
                    </div>
        
        
                </div>


                
              <% } %>


    
        <% } %> 

<!-- 
            <div class="row m-5 border  rounded-3 border-1 shadow-lg " style="overflow:hidden; " >
            
                
                <div class="col-md-12 col-sm-12 col-lg-3 position-sticky " >
                    <img style="height:100% ; object-fit: cover;" src="coca-cola-bottles.jpg" class="zoom d-block w-100" alt="...">
    
                </div>
                <div class="col-md-12 col-sm-12 col-lg-9 bg-light p-5" style="overflow:hidden; z-index: 50;">
                    <h1 >Coca-Cola</h1>
                    <p class="small">
                        <img src="icons8-calendar-30.png" height="26px" width="auto"> 26-11-2021
                    </p>
                    <p style="font-size: medium;">Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. Originally marketed as a temperance drink and intended as a patent medicine, it was invented in the late 19th century by John Stith Pemberton and was bought out by businessman Asa Griggs  </p>
                    <a href="...">//LInk for more info</a>
    
                </div>
                
    
    
            </div>
    
    
            <div class="row m-5 border rounded-3 border-1 shadow-lg " style="overflow:hidden; " >
            
                
                
                <div class="col-md-12 col-sm-12 col-lg-9 bg-light p-5 order-lg-0 order-1 " style="overflow:hidden; z-index: 50;">
                    <h1 >Coca-Cola</h1>
                    <p class="small">
                        <img src="icons8-calendar-30.png" height="26px" width="auto"> 26-11-2021
                    </p>
                    <p style="font-size: medium;">Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. Originally marketed as a temperance drink and intended as a patent medicine, it was invented in the late 19th century by John Stith Pemberton and was bought out by businessman Asa Griggs  </p>
                    <a href="...">//LInk for more info</a>
    
                </div>
                <div class="col-md-12 col-sm-12 col-lg-3 position-sticky order-lg-1 order-0" >
                    <img style=" height:100%" src="coke2.jpg" class="zoom  d-block w-100" alt="...">
    
                </div>
    
    
            </div> -->
    
    
        </div>
    </main>

    <%- include("partials/footer",{contact1:contact1,contact2:contact2,email:email,address:address}); -%>

    <%- include("partials/tail"); -%>

    <script  src = "/javascripts/news.js"></script>

    <script>
        function handle_load(){
  
  
          console.log('test');
          document.getElementById('preload').style.display = "none";
          document.getElementById('news_container').style.visibility = "visible";
        }
      </script>

  </body>

</html>
