<!doctype html>
<html lang="en">

  <%- include("partials/head"); -%>
  <style>
    .zoom{
        width: 100%;
        transform: scale(1.05);
        transition-duration: 0.5s;
  transition-timing-function: ease-out;
    }
    .zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #db4d34;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  </style>

  <body onload="handle_load()">
    <%- include("partials/navbar",{role:role,contact1:contact1,contact2:contact2,email:email}); -%>

     <div class = "loader mx-auto m-5" id = "preload"></div>
        <!-- Main content -->
    <main id = "main-content" style="visibility: hidden;">
        <div class=" container-fluid"  >


          <% for( let i = 0; i < products.length; i++ ) { %>

            <% if( i%2==0){ %>

              <div id = "product_<%=products[i].id%>"class="row m-5 border  rounded-3 border-1 shadow-lg " style="overflow:hidden; " >
            
                
                <div class="col-md-12 col-sm-12 col-lg-7 position-sticky" >
                    <div id="carousel_<%= i%>" class="zoom carousel slide ratio ratio-16x9" data-bs-ride="carousel" style=" height:100%">
                        <div class="carousel-inner" style=" height:100%">
                          <div class="carousel-item active" style=" height:100%" >
                            <img style="height:100% ; object-fit: cover;"  src="/images/<%= products[i].image1%>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" style=" height:100%">
                            <img style="height:100% ; object-fit: cover;" src="/images/<%= products[i].image2%>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" style=" height:100%">
                            <img style="height:100% ; object-fit: cover;" src="/images/<%= products[i].image3%>" class="d-block w-100" alt="...">
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= i%>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= i%>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
    
                </div>
                <div class="col-md-12 col-sm-12 col-lg-5  p-3" style="overflow:hidden; z-index: 50; background-image: url(/images/endless-constellationwhite.svg)">
                    <h1 ><%= products[i].name%></h1>
                    <p class="small">
                        <img src="/images/icons8-calendar-30.png" height="26px" width="auto"> <%= products[i].createdAt%>
                    </p>
                    <p style="font-size: medium; white-space:pre-wrap "><%= products[i].description%></p>
                    <a style="font-size:x-small" href="<%= products[i].link%>">Check this link for more info></a>
    
                </div>
                
    
    
            </div>

             <% }else{ %>


              <div id = "product_<%=products[i].id%>" class="row m-5 border rounded-3 border-1 shadow-lg " style="overflow:hidden; " >
            
                
                
                <div class="col-md-12 col-sm-12 col-lg-5 p-3 order-lg-0 order-1 " style="background-image: url(/images/endless-constellationwhite.svg) ;overflow:hidden; z-index: 50;">
                    <h1 ><%= products[i].name%></h1>
                    <p class="small">
                        <img src="/images/icons8-calendar-30.png" height="26px" width="auto"> <%= products[i].createdAt%>
                    </p>
                    <p style="font-size: medium;"><%= products[i].description%></p>
                    <a style="font-size:x-small" href="<%= products[i].link%>">Check this link for more info></a>  
              </div>

                <div class="col-md-12 col-sm-12 col-lg-7 position-sticky order-lg-1 order-0  " >
                    <div id="carousel_<%=i%>" class="zoom carousel slide ratio ratio-16x9" data-bs-ride="carousel" style=" height:100%">
                        <div class="carousel-inner" style=" height:100%">
                          <div class="carousel-item active" style=" height:100%" >
                            <img style="height:100% ; object-fit: cover;" src="/images/<%= products[i].image1%>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" style=" height:100%">
                            <img style="height:100% ; object-fit: cover;" src="/images/<%= products[i].image2%>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" style=" height:100%">
                            <img style="height:100% ; object-fit: cover;" src="/images/<%= products[i].image3%>" class="d-block w-100" alt="...">
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel_<%= i%>" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel_<%= i%>" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
    
                </div>
    
    
            </div>


                
              <% } %>


    
        <% } %> 

        </div>
    </main>

    <%- include("partials/footer",{contact1:contact1,contact2:contact2,email:email,address:address}); -%>

    <%- include("partials/tail"); -%>

    <script>
      function handle_load(){


        console.log('test');
        document.getElementById('preload').style.display = "none";
        document.getElementById('main-content').style.visibility = "visible";
      }
    </script>

  </body>

</html>
