<!doctype html>
<html lang="en">

  <%- include("partials/head",{title:title,meta_description : meta_description}); -%>
    <style>
        .team-card{

            border: rgb(199, 185, 185) 1px solid;
            border-radius: 10px;


        }
        .team-card:hover{

            border: #971628 2px solid;
        }
    </style>
  <body>
    <%- include("partials/navbar",{role:role,contact1:contact1,contact2:contact2,email:email}); -%>

        <!-- Main content -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style=" text-align: center; " class="align-self-center text-dark mt-5"> <strong>Our All Star
                            Team</strong>
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center mt-5 mb-5" id = "team_head">


                <% for( let i = 0; i < team.length; i++ ) { %>

                    <% if(team[i].position.toLowerCase() == "director"){ %>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3 mb-3">

                            <div class = "p-5 team-card shadow text-center" style= "height: 100%; background-image: url(/images/endless-constellationwhite.svg);">
                                <div style="max-height:300px; max-width:300px; border-radius: 50%; width:100%; overflow: hidden;" class="ratio ratio-1x1 shadow mx-auto">
                                    <img loading = "lazy" class="shadow mx-auto" style="object-fit: cover;" src="/images/<%= team[i].image %> " />
                                </div>
            
                                <h2 class = "mt-4 text-center"><%= team[i].name%> </h2>
                                <h5 class = "mt-2 text-center"><%= team[i].position%> </h5>
                                <p class = "text-center" style = "white-space: pre-wrap; word-wrap: break-word;"><%= team[i].bio %> </p>
                                <hr>
        
                                <div>
                                    <img src="/images/icons/phone.png" height="24px" width="auto">
                                    &nbsp;
                                    <a href="tel:+91<%= team[i].contact1 %>" class="link-danger"
                                                style="color:rgb(17, 17, 17) ; text-decoration: none;">
                                                <%= team[i].contact1 %>
                                    </a> |             
                                    <a href="tel:+91<%= team[i].contact2 %> " class="link-danger"
                                                style="color:rgb(17, 17, 17) ; text-decoration: none;">
                                                <%= team[i].contact2 %>
                                    </a>
                                </div>
        
                                <div class = "mt-2 mb-4">
                                    <img src="/images/icons/mail.png" height="24px" width="auto">
                                    &nbsp;
                                    <a href="mailto:<%= team[i].email %>" class="link-danger"
                                        style="color:rgb(17, 17, 17) ; text-decoration: none;">
                                        <%= team[i].email %>
                                    </a>  
                                </div>
                                
                                <a style="text-decoration: none;" href="<%= team[i].linkedin %>">
                                    <img src="/images/icons/linkedin.png" height="26px" width="auto">
                                </a>
                                <a style="text-decoration: none;" href="<%= team[i].twitter %> ">
                                    <img src="/images/icons/twitter.png" height="26px" width="auto">
                                </a>
                                
                            </div>
        
                        </div>

        
                     <% } %>

                <% } %> 



            </div>
            <div class="row justify-content-center mt-5 mb-5" id = "team_rest">


                <% for( let i = 0; i < team.length; i++ ) { %>

                    <% if(team[i].position.toLowerCase() != "director"){ %>

                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-3 mb-3">

                            <div class = "p-5 team-card shadow text-center" style= "height: 100%; background-image: url(/images/endless-constellationwhite.svg);">
                                <div style="max-height:300px; max-width:300px; border-radius: 50%; width:100%; overflow: hidden;" class="ratio ratio-1x1 shadow mx-auto">
                                    <img loading = "lazy" class="shadow mx-auto" style="object-fit: cover;" src="/images/<%= team[i].image %> " />
                                </div>

                                <h2 class = "mt-4 text-center"><%= team[i].name%> </h2>
                                <h5 class = "mt-2 text-center"><%= team[i].position%> </h5>
                                <p class = "text-center" style = "white-space: pre-wrap; word-wrap: break-word;"><%= team[i].bio %> </p>
                                <hr>

                                <div>
                                    <img src="/images/icons/phone.png" height="24px" width="auto">
                                    &nbsp;
                                    <a href="tel:+91<%= team[i].contact1 %>" class="link-danger"
                                                style="color:rgb(17, 17, 17) ; text-decoration: none;">
                                                <%= team[i].contact1 %>
                                    </a> |             
                                    <a href="tel:+91<%= team[i].contact2 %> " class="link-danger"
                                                style="color:rgb(17, 17, 17) ; text-decoration: none;">
                                                <%= team[i].contact2 %>
                                    </a>
                                </div>

                                <div class = "mt-2 mb-4">
                                    <img src="/images/icons/mail.png" height="24px" width="auto">
                                    &nbsp;
                                    <a href="mailto:<%= team[i].email %>" class="link-danger"
                                        style="color:rgb(17, 17, 17) ; text-decoration: none;">
                                        <%= team[i].email %>
                                    </a>  
                                </div>
                                
                                <a style="text-decoration: none;" href="<%= team[i].linkedin %>">
                                    <img src="/images/icons/linkedin.png" height="26px" width="auto">
                                </a>
                                <a style="text-decoration: none;" href="<%= team[i].twitter %> ">
                                    <img src="/images/icons/twitter.png" height="26px" width="auto">
                                </a>
                                
                            </div>

                        </div>


                    <% } %>

                <% } %> 

                
    
            </div>
    
        </div>
    </main>

    <%- include("partials/footer",{contact1:contact1,contact2:contact2,email:email,address:address}); -%>

    <%- include("partials/tail"); -%>

    <script src = "/javascripts/team.js"></script>

  </body>

</html>
